.NoteForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vmin;
}

.Input {
  height: 25vmin;
  width: 50vmin;
  border: 0.5vmin solid red;
}

.AddNote {
  width: 35vmin;
}